/* Philip Persson al4570 */


th {
  background-color: rgb(255, 238, 217);
  border: 1px solid #2b1d1d;
  text-align: left;
  padding: 8px;
  font-size: 25px;
}


.team-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

.addDiv{

  margin-left: auto;
  margin-right: auto;
  width: 30%;
}