/* Philip Persson al4570 */


th {
  background-color: rgb(255, 238, 217);
  border: 1px solid #2b1d1d;
  text-align: left;
  padding: 8px;
  font-size: 25px;
}

.teamName {
  text-align: center;
}

.addBtn {
  border-radius: 5px 5px;
  text-align: center;

}
.addBtn:hover {
  box-shadow: inset 100px 0 0 0 #04AA6D;
  color: white;
  cursor: pointer;
}


.updateButton {
  border-radius: 5px 5px;
  text-align: center;
}

.updateButton:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
  border-radius: 5px 5px;
  color: white;
  text-align: center;
  cursor: pointer;
}


.editSaveButton {
    border-radius: 5px 5px;
    text-align: center; 
}

.editSaveButton:hover {
  box-shadow: inset 100px 0 0 0 #04AA6D;
  color: white;
  cursor: pointer;
}


.team-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

.addDiv{

  margin-left: auto;
  margin-right: auto;
  width: 30%;
}